{% extends "base/index.html.twig" %}

{% block header %}
	{% embed "base/header.html.twig" %}
		{% block location %}
			Профиль / Обновление данных
		{% endblock %}
	{% endembed %}
{% endblock %}

{% block title %}
	Update Profile
{% endblock %}

{% block contentTitle %}
	Update Profile
{% endblock %}

{% block content %}
	<div class="update">
		{% include "user/update/update_form.html.twig" %}
	</div>
{% endblock %}

