<div class="add-product">
    <a href="{{path('create_product_form', {currCategory: category})}}">
        <img class="add-product__image" src="/uploads/product_images/base_new_product.png">
        <div class="add-product__text"></div>
        <span class="add-product__make">Создать</span>
    </a>
</div>