<div class="slider-item featured-product">
    <img class="product__image" src="/uploads/product_images/base_missing_image.png">
	<div class="featured-product__text">
		<span class="featured-product__name">В данный момент акций нет :(</span>
		<span class="featured-product__price"></span>
	</div>
</div>